.inbox_people{
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right:1px solid #c4c4c4;
}
.inbox_msg{
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.messages{
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.send_message p{
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}

.go_message{
  overflow:hidden;
  margin:26px 0 26px;
}

.send_message{
  float: right;
  width: 46%;
}

.input_msg_write input{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  border: 1px solid #4c4c4c;
}

.type_msg{
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn{
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging{
  padding: 10px 0;
}
.message_history{
  height: 516px;
  overflow-y: auto;
}